.navbar .nav-link {
    color: #fff;
    position: relative;
    transition: color .3s ease
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #28a745
}

.navbar .nav-link::after {
    background-color: #28a745;
    bottom: -4px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: width .3s;
    width: 0
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
    width: 100%
}

html {
    scroll-behavior: smooth
}